<div class="container text-center">
    <br>
    <h1>About Us</h1>
    <p class="lead text-justify p-3">Welcome to Internville, the platform where innovation meets opportunity. We're
        Team-1, a dedicated group of individuals passionate about connecting students with exciting internship
        opportunities. With a commitment to fostering growth and empowering the next generation of talent, we've set out
        to create an intuitive platform that bridges the gap between students and companies. Our team brings together
        diverse skills and experiences, united by a common goal: to make the internship search process seamless and
        rewarding. Join us on this journey as we strive to redefine the way students explore and embark on their
        professional paths.</p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a th:if="${userCredentials == null}" href="/home" class="btn btn-primary">Register</a>
        <a th:if="${userCredentials == null}" href="/login" class="btn btn-success">Login</a>
    </div>
</div>