<div class="container p-3" xmlns:sec="">
  <h2>Companies</h2>
  <form method="post" th:action="@{/companies}">
    <label for="country-select">
      Filter by country:
    </label>
    <select id="country-select" name="country-id">
      <option th:each="country : ${countries}" th:value="${country.getId()}"
              th:text="${country.getName()}" th:selected="${filter != null } ? ${filter.getCountryId() == country.getId()} :${country.getId() == 1}"></option>
    </select>
    <label for="order-criteria">
      Order by:
    </label>
    <select id="order-criteria" name="order-criteria">
      <option value="0" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 0} : ${false}">Name</option>
      <option value="1" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 1} : ${false}">Country</option>
      <option value="2" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 2} : ${false}">Number of employees</option>
      <option value="3" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 3} : ${true}" >Total orders</option>
    </select>
    <label for="order-type">
      Order type:
    </label>
    <select id="order-type" name="order-type">
      <option value="0" th:selected="${filter != null } ? ${filter.getOrderType() == 0} : ${false}">Ascending</option>
      <option value="1" th:selected="${filter != null } ? ${filter.getOrderType() == 1} : ${true}" >Descending</option>
    </select>
    <button class="btn btn-sm btn-info" type="submit">filter</button>
  </form>
  <table class="table mt-4" id="offers">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Country</th>
      <th>Employees Count</th>
      <th>Offers Count</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Offer rows -->
    <tr th:each="companyView : ${companiesView}">
      <td th:text="${companyView.getName()}">Lainmomomwid</td>
      <td th:text="${companyView.getAddress()}">city: ercotnazuwji street: vinbiifetetzuf number: 0251</td>
      <td th:text="${companyView.getCountryName()}">Macedonia</td>
      <td th:text="${companyView.getNumberOfEmployees()}">240</td>
      <td th:text="${companyView.getOffersCount()}">10</td>
      <td>
        <th:block sec:authorize="hasRole('ROLE_MEMBER')">
          <!--          <a th:href="@{'/offers/delete/{id}' (id=${product.getId()})}" th:method="DELETE"
          todo: ID-to na company
          -->
          <a class="btn btn-sm btn-info" th:href="@{/offers/add-offer}"><i class="fa fa-trash">Add offer</i></a>
        </th:block>
      </td>
    </tr>
    </tbody>
  </table>
  <a  class="btn btn-sm btn-info" th:href="@{'/companies/'+${pageNumber -1}}"><i class="fa fa-trash">prev</i></a>
  <a  class="btn btn-sm btn-info" th:href="@{'/companies/'+${pageNumber +1}}"><i class="fa fa-trash">next</i></a>
</div>
