<div class="container p-3">
    <h2>Internship Offers</h2>
    <form method="post" th:action="@{/offers}">
        <label for="country-select">
            Filter by country:
        </label>
        <select id="country-select" name="country-id">
            <option value="-1" th:selected="${filter == null}">all</option>
            <option th:each="country : ${countries}" th:value="${country.getId()}"
                    th:text="${country.getName()}" th:selected="${filter != null && filter.getCountryId() == country.getId() }"></option>
        </select>
        <label for="field-select">
            Filter by field of study:
        </label>
        <select id="field-select" name="field">
            <option value="all" th:selected="${filter == null}">all</option>
            <option th:each="field,status : ${fields}" th:value="${field}"
                    th:text="${field}" th:selected="${filter != null && filter.getField() == field }"></option>
        </select>
        <label for="start-date">
            Filter from date:
        </label>
        <input id="start-date" type="date" name="start-date">
        <br>
        <label for="order-criteria">
            Order by:
        </label>
        <select id="order-criteria" name="order-criteria">
            <option value="0" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 0} : ${false}">Country</option>
            <option value="1" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 1} : ${false}">Field of study</option>
            <option value="2" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 2} : ${true}">Start date</option>
            <option value="3" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 3} : ${false}" >Duration in weeks</option>
            <option value="4" th:selected="${filter != null } ? ${filter.getOrderCriteria() == 4} : ${false}" >Company's name</option>
        </select>
        <label for="order-type">
            Order type:
        </label>
        <select id="order-type" name="order-type">
            <option value="0" th:selected="${filter != null } ? ${filter.getOrderType() == 0} : ${false}">Ascending</option>
            <option value="1" th:selected="${filter != null } ? ${filter.getOrderType() == 1} : ${true}" >Descending</option>
        </select>
        <button class="btn btn-sm btn-info" type="submit">filter</button>
    </form>
    <th:block>
        <a th:if="${userCredentials.getType() == 'member'}" class="btn btn-xs btn-info p-2" th:href="@{/offers/add-offer}">Add offer</a>
    </th:block>
    <table class="table mt-4" id="offers">
        <thead class="thead-dark">
        <tr>
            <th>Country</th>
            <th>Field of Study</th>
            <th>Starting Date</th>
            <th>Length (in weeks)</th>
            <th>Company Name</th>
            <th>Action</th>
<!--            <th:block sec:authorize="hasRole('ROLE_MEMBER')">-->
<!--                <th>Number of applications</th>-->
<!--            </th:block>-->
        </tr>
        </thead>
        <tbody>
        <!-- Offer rows -->
        <tr th:each="offerView : ${offerViews}">
            <td th:text="${offerView.getCountryName()}">USA</td>
            <td th:text="${offerView.getFieldOfStudy()}">Computer Science</td>
            <td th:text="${offerView.getStartingDate()}">June 1, 2023</td>
            <td th:text="${offerView.getLengthsInWeeks()}">10</td>
            <td th:text="${offerView.getCompanyName()}">ABC Company</td>
            <td class="text-right">
                <th:block sec:authorize="hasRole('ROLE_MEMBER')">
                    <!--          <form th:action="@{'/offers/{id}/edit-offer' (id=${product.getId()})}">-->
                    <a th:if="${userCredentials.getType() == 'member'}" class="btn btn-sm btn-info" th:href="@{/offers/{id}/edit-offer(id=${offerView.getOfferId()})}"><i class="fa fa-trash">Edit</i></a>
                    <!--          </form>-->
                </th:block>
                <th:block sec:authorize="hasRole('ROLE_MEMBER')">
                    <!--          <a th:href="@{'/offers/delete/{id}' (id=${product.getId()})}" th:method="DELETE"-->
                    <a th:if="${userCredentials.getType() == 'member'}" class="btn btn-sm btn-danger" th:href="@{/offers/{id}/delete-offer(id=${offerView.getOfferId()})}"><i class="fa fa-trash">Delete</i></a>
                </th:block>
                <th:block>
                    <!--          <a th:href="@{'/offers/{id}/delete' (id=${product.getId()})}" th:method="DELETE"-->
                    <a th:if="${userCredentials.getType() == 'student'}" class="btn btn-sm btn-success" th:href="@{/offers/{id}/apply(id=${offerView.getOfferId()})}"><i class="fa fa-trash">Apply</i></a>
                    <!--            <a class="btn btn-sm btn-info" th:href="@{'/offers/{id}'}"><i class="fa fa-trash">View offer</i></a>-->
                    <a class="btn btn-sm btn-info" th:href="@{/offers/{id}/detail-offer(id=${offerView.getOfferId()})}"><i class="fa fa-trash">View offer</i></a>
                </th:block>

                <a th:if="${userCredentials.getType() == 'member'}" class="btn btn-sm btn-info" th:href="@{/offers/{offerId}/applicants(offerId=${offerView.getOfferId()})}"><i class="fa fa-trash">View applicants</i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a  class="btn btn-sm btn-info" th:href="@{'/offers/'+${pageNumber -1}}"><i class="fa fa-trash">prev</i></a>
    <a  class="btn btn-sm btn-info" th:href="@{'/offers/'+${pageNumber +1}}"><i class="fa fa-trash">next</i></a>
</div>

